.contact-container {
    width: 40vw;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-bg-h);
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-s);
}

@media (max-width: 768px) {
    .contact-container {
        width: 80vw;
    }
}


.contact-item {
    display: flex;
    align-items: start;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-bg-s);
    justify-content: space-between;
}

.contact-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact-label {
    font-weight: bold;
    color: var(--color-tx-4);
}

.contact-value {
    color: var(--color-tx-2);
    text-align: right;
}

.contact-value a {
    color: var(--color-tx-2);
    text-decoration: none;
}

.contact-value a:hover {
    text-decoration: underline;
}